@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@font-face {
  font-family: 'Razor Keen';
  src: url('../fonts/razorkeen.ttf');
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
}

@media screen and (max-width:766px) {
  body {
    font-size: 56.25%;
  }
}

@media screen and (max-width:692px) {
  body {
    font-size: 50%;
  }
}

@media screen and (max-width:550px) {
  body {
    font-size: 43.75%;
  }
}

a:link, a:visited {
  color: #2399D3;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

/* -------
Structure
--------*/

.site-header {
  background: #A01010;
  box-shadow: 0px 2px 4px 0px rgba(126, 126, 126, 0.5);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(126, 126, 126, 0.5);
  color: #fff;
  height: 80px;
  padding: 0 0 0 0;
  z-index: 1;
  position: relative;
  font-family: "Razor Keen","serif";
  font-size: 36px;
}

.site-header .logo img {
  height: 80px;
  width: auto;
  padding: 0;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.site-header ul {
  list-style: none;
  margin: 0.6em 0 0;
  position: absolute;
  right: 0;
}

.site-header li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.site-header a {
  color: #eee;
  text-decoration: none;
}

.site-header a:hover {
  color: #aaa;
}

.site-header h1.logo {
  margin: 0;
  text-transform: uppercase;
}

.site-header h1 a {
  color: #fff;
  text-decoration: none;
}

#app {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  top: 5.6em;
  width: 100%;
  z-index: -2;
}

#map-container {
  background:#83D0F6;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

#map-container path {
  transition: fill .33s;
  -webkit-tap-highlight-color: transparent;
}

/* -------
Splash
--------*/

.splash-container.open {
  visibility: visible;
  opacity: 1;
}

.splash-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(126, 126, 126, 0.5);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(126, 126, 126, 0.5);
  margin: 8em auto 0;
  max-width: 65em;
  padding: 0 0 2em;
  position: relative;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: visibility 0s linear 0.33s,opacity 0.33s linear;
}

.splash-container h1 {
  background: #A01010;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-size: 3.2em;
  margin: 0;
  padding: 0.5em;
  text-transform: uppercase
}

.splash-container h2 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.4em;
  margin: 0;
  padding: 1.0666em;
}

.splash-container h2 strong {
  font-weight: 600;
}

/* --------
Area content
-------- */

#area-content {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(126,126,126,0.5);
  opacity: 0;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(126,126,126,0.5);
  position: absolute;
  right: -30em;
  top: 10.8em;
  width: 29em;
  z-index: 2;
  transition: right 0.33s ease-in,
              opacity 0.33s ease 0.1s;
}

#area-content.loaded {
  opacity: 1;
  right: 2em;
}

/* --------
Buttons
-------- */

a.button-primary {
  background: #A01010;
  border: 0;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 1.6em;
  font-weight: 400;
  margin: 0 0 1em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.button-primary:hover, .button-primary:active, .button-primary:focus {
  background: #610303
}


/* --------
Graphs
-------- */

section.graphs {
  display: none;
}
